<h1>Eat the Burger</h1>

<ul>
    {{#each burgers}}
    <li>{{burger_name}}</li>
    {{/each}}
</ul>

<form action="/burgers" method="POST">
    <textarea type="text" id="burgername" name="burger_name"></textarea>

    <button type="submit">Submit</button>
</form>